{% extends 'base/base.html' %}

{% block title %}Over Night{% endblock %}

{% block js %}
    <script type="text/javascript" src="../../static/base/js/modal.js"></script>
    <script type="text/javascript" src="../../static/base/js/publicFun.js"></script>
    <script type="text/javascript" src="../../static/api_cases/js/apicase.js"></script>
{% endblock %}

{% block css %}<link rel="stylesheet" href="../../static/api_cases/css/api.css">{% endblock %}

{% block page_title %}Api Cases{% endblock %}

{% block content %}

    <h3>Api Case List</h3>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Show</a></li>
        <li role="presentation"><a href="/createapi/">Create</a></li>
        <li role="presentation" class="disabled"><a href="#">Modify</a></li>
    </ul>

    <table class="table table-hover table-condensed" id="cnn_table">
        <tr>
            <th id="row_id">#</th>
            <th id="row_name">Level</th>
            <th id="row_type">Type</th>
            <th id="row_format">Model</th>
            <th id="row_path">Data</th>
            <th id="row_path">Description</th>
            <th id="row_del"></th>
            <th id="row_mod"></th>
        </tr>
    </table>

    {% include 'base/Prompt.html' %}

    {% include 'base/paginate.html' %}

    {% include 'base/Confirm.html' %}

{% endblock %}